@charset "utf-8";
@import url("fonts.css");
/*--Placeholder  --*/
*::-webkit-input-placeholder {
    opacity: 1;    
}
*:-moz-placeholder { /* Firefox 18- */
    opacity: 1;    
}
*::-moz-placeholder {  /* Firefox 19+ */
    opacity: 1;    
}
/*--end Placeholder  --*/


body{
    background: #fff;
    font-family: 'arial';
}
#header .top-head,
#header .main-nav .menu,
#wrapper,
#footer-wrapper{
    max-width: 995px;
    margin: 0 auto;
    padding:0 25px;
    border:none;
}
#wrapper{
    padding-top:25px;
    padding-bottom: 25px;
    min-height: 335px;
}
#wrapper article{
    margin-bottom: 0;
}
/*----------HEADER----------*/
#logo{
    padding: 10px 0;
}
.blk-top-head{
    margin: 0;
    padding:20px 0;
}
#header{
    background: url("../images/head-bgr.png") no-repeat scroll 75% top #FFE700 !important;
    min-height: 150px;    
}
/*menu*/
#header .main-nav{
    background: #ffc600!important;
    margin: 0;
}
#header .menu,
#header .menu li,
#header .menu li a{
    background: none!important;
    text-shadow: none!important;
    line-height: 15px !important;
}
#header .menu li a{
    font-size:12px;
    white-space:pre-line;
    color: #2a2a2a;
    font-family: 'AvantGarde';
    border: none;    
    text-align: center;
    padding: 0 15px;
    text-transform: uppercase;
    
    display: table-cell;
    vertical-align: middle;
}
#header .menu li{
    line-height: 45px;
    height: 45px;
    background: url("../images/dot-menu.png") no-repeat right center transparent!important;
}
#header .menu li:first-child a{
    padding-left: 0;
    width:90px;
}
#header .menu li:last-child a{
    width:90px;
    padding-right: 0;
}
#header .menu li:last-child {
    background-image: none!important;
}
#header .menu li:nth-child(3) a{
    width:115px;
}
#header .menu li:nth-child(6) a{
    width:142px;
}
#header .menu li:nth-child(7) a{
    width:100px;
}
/*end menu*/
/*----------END HEADER----------*/
/*------MAIN CONTENT------*/
/*home*/
.blk-link-home h1,
.blk-link-home h1 a,
.blk-link-home h2,
.blk-link-home h2 a,
.home-left h2,
.home-left h2 a,
.home-right h2{
    font-size: 18px;
    color: #ffb900;
    text-transform: uppercase;
}
.home-left .grid-right label{
    margin-top: 10px;
    border: none!important;
    box-shadow: none!important;
    min-width: 97%;
    background: #eeeeee;
    line-height: 35px;
    height: 35px;
    padding: 0 0 0 3%;
    font-weight: normal;
    text-transform: uppercase;
}
.home-left .grid-right span{
    background: none;
    border: none;
    color: #FFB900;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: normal;
    padding-right: 20px;
    text-transform: uppercase;
    font-family: 'AvantGarde';
    line-height: 30px;
} 
.home-left form{
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.2);
    padding: 10px 0 10px 10px;
    position: relative;
    margin: 25px 0 0 0;
    color: #000;
}
.home-left form .f-img{
    left: 8px;
    position: absolute;
    top: -8px;
}
.home-left form h2{
    height: 50px;
    margin-top: 0;
    padding-left: 70px;
    line-height: 20px;
    width: 220px;
    font-size: 16px;
    font-family: 'AvantGarde';
    margin-bottom: 5px;
    /*
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    filter: dropshadow(color=rgba(0,0,0,0.15),offX=0,offY=1);
    */
}
.home-left form .grid{
    padding:0 15px;
}
.blk-link-home h1,
.blk-link-home h2{
    padding-left: 15px;
    background: url("../images/bgr-title.png") no-repeat left center transparent;
    margin: 0 0 30px;
    font-family: 'AvantGarde';
    color:#FFB900;
}
.blk-link-home.infra-p h1{
    margin-bottom: 20px;
}
.blk-link-home h2.lk{
    padding-left: 0;
    background: none;
    margin-top: -10px;
}
.home-right h2{
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 5px;
    letter-spacing: -1px;
}
.home-right h2 span{
    color: #515151;
}
.home-right h3{
    font-size:14px;
    margin:20px 0;
    color:#000;
}
.home-right {
    color: #000;
    font-size: 14px;
}
.home-right ul{
    margin: 0;
    padding-left: 12px;
}
.home-right ul li{
    margin-bottom: 15px;
}
.home-right p{
    margin: 8px 0;
    line-height: 18px;
    text-align: justify;
    font-size: 12px;
}
/*end home*/
/*------END MAIN CONTENT------*/
/*------FOOTER------*/
#footer{
    width:100%;
    background: #525252;
    color: #fff;
    margin: 0 0 45px 0;
    padding:0;
    max-width: 100%;
    font-size:11px;
    font-weight: bold;
}
.copyright{
    padding: 15px 0;
    position: relative;
}
.copyright img{
    position: absolute;
    top:-45px;
    left: 50%;
}
.copyright span{
    float: right;
}
.copyright p{
    margin: 0;
}
#footer a{
    color: #fff!important;
    font-weight: bold;
}
/*------END FOOTER------*/
/*-----PAGE -------*/
.blk-link-home p{
    text-align: justify;
    font-size: 14px;
}
.blk-link-home h5{
    font-size: 14px;
}
.left-divers p{
    margin-top: 0;
}
.right-divers img{
    margin-bottom: 20px;
}
.telpage ul{
    list-style: none;
    padding: 0;
}
.telpage ul li{
    margin-bottom: 20px;
}
.telpage ul li a{
    background: url("../images/dot-list.png") no-repeat left center;
    padding-left: 25px;
    color: #9f1600;
    font-family: 'arial';
    font-size: 14px;
    font-weight: bold;
}
h3.sub-title{
    font-size: 14px;
    color: #2f2f2f;
    font-family: 'AvantGarde';
    margin-bottom: 0;
}
h1.title{
    background: url("../images/bgr-title.png") no-repeat left 3px transparent;
    padding-left: 15px;
}
h2.title,
h2.title a,
h1.title,
h1.title a{
    margin: 0;
    font-size: 18px;
    letter-spacing: -1px;
    color: #ffb900;
    text-transform: uppercase;
    font-family: 'AvantGarde';
}
div p:last-child{
    margin-bottom: 0;
}
/*page driver*/
.right-divers{
    width:75.447%;
}
/*end page driver*/
/*page charte*/
.char-left{
    width:56.5%; 
    position: relative;
}
.char-left-ctn{
    left: 0;
    text-align: center;
    text-transform: uppercase;
    width:200px;
    margin: 0 auto;
    padding-top: 220px;
    padding-bottom: 160px;
}
.char-left-ctn h2{
    font-size: 20px;
    color: #ffb900;
    font-family: 'AvantGarde';
}
.char-left-ctn p{
    font-size:12px;
    color:#1d1d1d;
    font-family: 'arial';
}
.char-right{
    width:43.4170854271%;
    max-height: 517px;
}
.ctn-char-right{
    max-width: 432px;
    margin: 0 auto;
}
.char-left a.btn-charte{
    display: inline-block;
    width:124px;
    height: 104px;
    background:url("../images/charte-btn-nomal.png") no-repeat top left transparent ;
    left: 84px;
    position: absolute;
    top: 41px;
    color: #31859c;
    text-align: center;
    font-size: 10px;
    font-family: 'AvantGarde';
    font-weight: bold;
    text-transform: uppercase;
    line-height: 176px;
    z-index: 10;
    letter-spacing: -1px;
    
}
.char-left a.acttive,
.char-left a.btn-charte:hover{
    background:url("../images/charte-btn-active.png") no-repeat top left transparent ;
}
.charleftwp{
        height: 59.8994974874%;
    }
    .char-left a.btn-charte{
        left: 14.9466192171%;
        top: 6.93950177936%;
    }
    .char-left a.btn-charte:nth-child(2){
        left: 38.0782918149%;
        top: 0;
    }
    .char-left a.btn-charte:nth-child(3){
        left: 60.8540925267%;
        top: 6.93950177936%;
    }
    .char-left a.btn-charte:nth-child(4){
        left: 0.71174377224%;
        top: 26.512455516%;
    }
    .char-left a.btn-charte:nth-child(5){
        left: 75.0889679715%;
        top: 26.512455516%;
    }
    .char-left a.btn-charte:nth-child(6){
        left: 0.71174377224%;
        top: 50.7117437722%;
    }
    .char-left a.btn-charte:nth-child(7){
        left: 75.0889679715%;
        top: 50.7117437722%;
    }
    .char-left a.btn-charte:nth-child(8){
        left: 14.9466192171%;
        top: 70.2846975089%;
    }
    .char-left a.btn-charte:nth-child(9){
        left: 61.0320284698%;
        top: 70.2846975089%;
    }
    .char-left a.btn-charte:nth-child(10){
        left: 37.9003558719%;
        top: 77.7580071174%;
    }
.ctn-char{
    display: none;
    padding: 70px 45px 0 65px;
    text-align: center;
    text-transform: uppercase;
    height: 476px;
    background:url("../images/charte-ctn-b.png") no-repeat top left transparent ;
    background-size: 100% auto;
}
.ctn-char h4{
    margin: 0 0 20px;
    font-size:12px;
    font-family: 'AvantGarde';
    color: #000;
}
.ctn-char p{
    font-weight: bold;
    font-size: 11px;
    font-family: 'arial';
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 16px;
}
/*end page charte*/
/*page infrastructure*/
/*end page infrastructure*/
/*contact*/
.g-maps{
    width:50.7537688442%;
    padding-bottom: 35px;
    height: 34.5728643216%;
}
.contact-p{
    width:43.216080402%;
    text-transform: uppercase;
}
.contact-p p:first-child{
    margin-top: 0;
}
.contact-p p{
    font-family: 'arial';
    font-size: 12px;
}
.contact-p textarea{
    width:100%;
    padding-top: 5px;
    min-height:75px;
}
.contact-p textarea,
.contact-p input[type="text"]{
    width:100%;
    font-size: 11px;
    font-weight: bold;
    font-family: 'arial';
}
.contact-p .col-460{
    width:47.5%
}
.contact-p input[type="submit"]{
    width:100%;
    background: #ffc600!important;
    height: 28px;
    text-shadow: none;
    border: none;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2) ;
    margin-top: 10px;
}
.contact-p .grid-right.col-620.fit{
    margin-top: 10px;
    font-size: 11px;
    font-family: 'arial';
    color: #1d1d1d;
    line-height: 15px;
    font-weight: bold;
}
.contact-p .grid-right.col-620.fit span,
.contact-p .grid-right.col-620.fit span a{
    color: #eeb900;
}
.contact-p .grid.col-460 input[type="text"]{
    margin-bottom: 2.12766%;
}
/*end contact*/
/*cuisine */
.cuisine img{
    float: left;
    padding-right: 15px;
}
.cuisine p{
    margin-top: 0;
}
.btm-cuisine p{
    font-size:14px;
    font-family: 'arial';
    text-align: justify;
    line-height: 15px;
    margin-bottom: 10px;
}
.btm-cuisine h5,
.btm-cuisine ul{
    color: #FFB900;
    font-weight: normal;
    margin-bottom: 0;
}
.btm-cuisine ul{
    list-style: none;
}
.btm-cuis p{
    text-align: right;
    float: right;
    font-size: 12px;
    font-family: 'arial';
    font-style: italic;
}
/*end cuisine */
/*fondation*/
.fondation-p{
    width:45.2211055276%;
    padding-top: 5px;
}
.fondation-p span.btm-fondation{
    text-align: center;
    font-weight: normal;
    display: block;
}
.fondation-pright h5{
    margin: 25px 0;
}
.fondation-pright{
    width:49.7487437186%;
}
.fondation-pright p{
    text-align: justify;
}
.fondation-p,
.fondation-pright{
    color:#000;
    font-size:14px;
}
h2.title  span,
h1.title span{
    color:#515151!important;
}
.fondation-p  span{
    color:#000;
    font-weight: bold;
}
.fondationform{
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    margin: 25px 0 0;
    padding: 10px 10px 10px 90px;
    position: relative;
    text-align: justify;
    width: 51%;
}
.fondationform .f-img{
    position: absolute;
    top:-5px;
    left:10px;
}
/*end fondation*/
.creche-left{
    width:29.5%;
}
.creche-right{
    width:68%;
}
.btm-creche{
    line-height: 15px;
}
.btm-creche .grid span{
    color:#ffb900;
    text-align: center;
    display: block;
    width:100%;
}
.btm-creche .creche-lst span{
    text-align: left;
}
.btm-creche .col-460 .grid.col-940 .grid,
.btm-creche .col-460 .grid.col-940 .grid-right{
    float: left;
    line-height: 15px;
    margin-bottom: 10px;
}
.btm-creche .grid.col-780{
    line-height: 40px;
}
.btm-creche .grid-right,
.btm-creche .grid{
    margin-bottom: 0;
}
.btm-creche .crename{
    padding-top: 15px;
}
.btm-creche  span.title{
    padding-bottom: 10px;
}
h5.orange{
    color: #FFB900;
    text-transform: uppercase;
}
ul.stl-group{
    padding-left: 15px;
}
ul.stl-group li{
    clear: both;
}
ul.stl-group li span{
    width:140px;
    float: left;
    display: block;
}
ul.stl-group li label{
    float: left;
    display: block;
    font-weight: normal;
    width:83.6257309942%;
}
h3.text-nml{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}
.vacances.grid-right.col-460  p,
.vacances.grid.col-460  p{
    margin-top: 0;
}
/*-----END PAGE -------*/
/*tung*/
.page-id-21 header h1,
.page-id-13 header h1{
    display: none;
}
.blk-link-home .info,
.blk-link-home .icon{
    display: none;
}
#googleMap{
    border: 4px solid #fff;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2)!important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.gmnoprint,
.gm-style-cc,
.gmnoprint{
    display: none;
}
h5.n-small{
    margin-bottom: 0;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: -20px;
}
.filetitle{
    margin: 0!important;
}
.filetitle a{
    background: url("../images/dot-list.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #9F1600;
    font-family: 'arial';
    font-size: 14px;
    font-weight: bold;
    padding-left: 25px;
}
.wpfilebase-file-default{
    margin: 0!important;
    border-radius: 0!important;
    background: none!important;
    border: none!important;
    box-shadow: 0 0 0!important;
}
/*page contact gravityform*/
.contact-p .gform_wrapper,
.contact-p form,
.contact-p .gform_wrapper .gform_footer,
.contact-p  input[type="submit"] {
    margin: 0!important;
    padding: 0!important;
}
.contact-p .gfield_label{
    display: none!important;
}
.contact-p .gform_wrapper li.gfield.gfield_error.gfield_contains_required,
.contact-p .gform_wrapper .top_label .gfield_error,
.contact-p form ul li{
    width:47.5%;
    float: left;
    padding: 0!important;
    clear: none!important;
}
.contact-p form ul li#field_2_7,
.contact-p form ul li#field_2_5{
    float: right;
}
.contact-p form ul li#field_2_9,
.contact-p form ul li#field_2_8,
.contact-p form ul li#field_2_3,
.contact-p form ul li#field_2_3 textarea {
    width:100%;
}
.contact-p form ul li  input[type="text"],
.contact-p form ul li textarea {
    font-size: 11px;
    padding-left: 5px;
}
.contact-p form ul li#field_2_8{
    margin-bottom: 20px;
    margin-top: 0;
}
.contact-p form ul li#field_2_9{
    width:100%;
}
.contact-p  input[type="submit"]{
    margin-top: -72px !important;
    width: 102px;
}
.contact-p .gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium{
    min-width: 100%;
}
.contact-p .gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
    background: none!important;
    border: none!important;
}
.contact-p .gfield.gfield_error.gfield_contains_required,
.contact-p .gform_wrapper .top_label .gfield_description.validation_message, 
.contact-p .gform_wrapper .gfield_description.validation_message{
    margin: 0!important;
    padding: 0!important;
}
.contact-p .gform_wrapper .validation_message{
    color: red!important;
}
.contact-p .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label, 
.contact-p .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container{
    margin: 0!important;
}
.contact-p .validation_message{
    text-transform: none!important;
    line-height: 15px!important;
}

/*end page contact gravityform*/
h2.wsp-pages-title{
    margin-bottom: 15px;
}
ul.wsp-pages-list{
    padding-left: 15px;
}
/*page site maps*/
.wpfilebase-file-default .filetitle a{
    font-family: 'arial'!important;
    font-size: 14px!important;
    font-weight: bold!important;
    padding-left: 25px!important;
    line-height: 20px!important;
}
.wpfilebase-file-default{
    padding: 0!important;
    width: 33.3333%!important;
    float: left!important;
    margin-bottom: 10px!important;
}
.wpfilebase-file-default .filetitle{
    height: auto!important;
}
/*page end site maps*/
/* page infrastructure*/
/*reveal*/ 
.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
	}

.reveal-modal {
	visibility: hidden;
	top: 0!important; 
	left: 0!important;
    
	margin-left: 0;
	width: 100%;    
	background: #fff;
	position: absolute;
	z-index: 101;
	padding: 25px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
	}
	
.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}

.reveal-modal .close-reveal-modal {
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 8px;
	right: 11px;
	color: #aaa;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
	} 
/*end reveal*/  
.wp-struct{
    position: relative;
    max-width: 781px;
}
.menu-struct a{
    display: block;
    height: 9.00900900901%;
    left: 19.3075898802%;
    position: absolute;
    top: 13.5135135135%;
    width: 23.9680426099%;
    color: transparent;
}
.menu-struct .poppup2{
    left: 13.9813581891%;
    top: 24.024024024%;
    width: 33.2889480692%;
    height: 8.10810810811%;
}
.menu-struct .poppup3{
    height:19.5195195195%;
    left: 13.3155792277%;
    top: 34.5345345345%;
    width: 13.3155792277%;
}
.menu-struct .poppup4{
    height: 18.018018018%;
    left: 27.2969374168%;
    top: 34.5345345345%;
    width: 10.2529960053%;
}
.menu-struct .poppup5{
    height: 18.018018018%;
    left: 38.6151797603%;
    top: 34.5345345345%;
    width: 10.6524633822%;
}
.menu-struct .poppup6{
    height: 27.027027027%;
    left: 12.7829560586%;
    top: 57.0570570571%;
    width: 3.99467376831%;
}
.menu-struct .poppup7{
    height: 27.027027027%;
    left: 17.310252996%;
    top: 57.0570570571%;
    width: 10.6524633822%;
}
.menu-struct .poppup8{
    height: 28.5285285285%;
    left: 29.2942743009%;
    top: 57.0570570571%;
    width: 10.2529960053%;
}
.menu-struct .poppup9{
    height: 28.5285285285%;
    left: 41.2782956059%;
    top: 55.5555555556%;
    width: 10.2529960053%;
}
.menu-struct .poppup10{
    left: 3.99467376831%;
    top: 87.0870870871%;
    width: 8.655126498%;
}
.menu-struct .poppup11{
    left: 3.99467376831%;
    top: 87.0870870871%;
    width: 8.655126498%;
}
.menu-struct .poppup12{
    height: 7.50750750751%;
    left: 14.6471371505%;
    top: 87.0870870871%;
    width: 31.9573901465%;
}
.menu-struct .poppup13{
    height: 10.5105105105%;
    left: 54.5938748336%;
    top: 46.8468468468%;
    width: 9.98668442077%;
}
.menu-struct .poppup14{
    height: 12.9129129129%;
    left: 53.9280958722%;
    top: 59.7597597598%;
    width: 11.3182423435%;
}
.menu-struct .poppup15{
    height: 12.012012012%;
    left: 53.9280958722%;
    top: 75.0750750751%;
    width: 11.3182423435%;
}
.menu-struct .poppup16{
    height: 8.70870870871%;
    left: 75.6324900133%;
    top: 61.5615615616%;
    width: 14.6471371505%;
}
.menu-struct .poppup17{
    height: 8.70870870871%;
    left: 93.0758988016%;
    top: 60.0600600601%;
    width: 7.32356857523%;
}
.menu-struct .poppup18{
    height: 21.021021021%;
    left: 69.9067909454%;
    top: 72.6726726727%;
    width: 7.32356857523%;
}
.menu-struct .poppup19{
    height: 21.021021021%;
    left: 77.6298268975%;
    top: 72.6726726727%;
    width: 7.32356857523%;
}
.menu-struct .poppup20{
    height: 21.021021021%;
    left: 85.4860186418%;
    top: 72.6726726727%;
    width: 7.32356857523%;
}
.ctn-struct .poppup{
    max-width: 450px!important;
    color:#000;
}
.ctn-struct .poppup p{
    margin-bottom: 15px;
}
.ctn-struct .poppup img{
    margin:0;
}

/* end page infrastructure*/